@page "/fetchdata"
@using UmBlazor.Models
@using System.Diagnostics
@using Microsoft.Extensions.Configuration
@using System.Data
@inject IConfiguration Configuration
@inject HttpClient Http

<PageTitle>Umbraco Blog Summary</PageTitle>

<h1>Blog Summaries</h1>

<p>These are the currently published blogs on the site!</p>

@if (rootNode == null)
{
    string umbracoURL = Configuration["UmbracoURL"];
    <p>
        <em>Loading blog pages from @umbracoURL ...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in rootNode.items)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                </tr>
            }

        </tbody>
    </table>
}

@code {
    private Root rootNode = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            rootNode = await Http.GetFromJsonAsync<Root>(Configuration["UmbracoURL"]);
        }
        catch (Exception ex)
        {
            var s = ex.Message;
        }
    }

}
